.footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: #212529;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }
  a {
    color: white;
  }
  a:link {
    color: white;
  }
  a:visited {
    color: white;
  }
  a:hover {
    color: #9b9d9e;
  }
  a:active {
    color: white;
  }